<div class="about-container">  
    <h1 class="author__heading">About</h1>
    
    <br>

    <p class="author__body">
        This website is created as a Node.js educational project.
        It implements authorization, posts and comments.    
    </p>

    <div class="img-container">
        <img src="/img/photo_3.jpg" alt="person looking out through window" class="hero-image about-img" width="981" height="528">
    </div>

    <br><br><br>
    <a href="/admin" class="btn">Sign In</a>
</div>