<div class="errors">
    <div class="error-container">
    <div class="error-code"><%= locals.status %></div>
    <div class="error-message"><%= locals.msg %></div>
    <div class="error-description">
      <a href="/admin">Main</a>
    </div>
  </div>
</div>